# .gitignore cho cả Backend (.NET) và Frontend (Node/React)

# [Backend - .NET Core]
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/
appsettings.json
appsettings.*.json


# [Frontend - Node/React]
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
.prettiercache
package-lock.json
# (Giữ lại package.json)

# [Hệ điều hành]
Thumbs.db
.DS_Store

# [Công cụ khác]
*.bat
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
